

<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <!-- TODO: put <tr *ngFor=""></tr> here -->
   <tr *ngFor="let list of satellites">
    <th>{{list.name}}</th>
    <th [class.th-style]="list.shouldShowWarning">{{list.type}}</th>
    <th>{{list.operational}}</th>
    <th>{{list.orbitType}}</th>
    <th>{{list.launchDate}}</th>
    </tr>
</table>
